<!DOCTYPE html>
<html ng-app="foolApp">
<head>
	<link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
	<script src="jquery/jquery-1.11.2.js"></script>
	<script src="semantic/semantic.min.js"></script>
	<script src="angular/angular.min.js"></script>
	<script src="app.js"></script>
</head>
<body>
	<div class="ui container">
		<br>
		<div class="ui three column centered grid">
			<div class="ten wide column">
				<div class="ui top attached tabular menu">
					<a class="item active" data-tab="first">
						<i class="blue comment icon"></i>
						<div class="content">
							Story
						</div>
					</a>
					<a class="item" data-tab="second">
						<i class="icons">
							<i class="blue user icon"></i>
							<i class="blue corner add icon"></i>
						</i>
						<div class="content">
							People
						</div>
					</a>
					<a class="item" data-tab="third">
						<i class="icons">
							<i class="blue legal icon"></i>
							<i class="blue corner add icon"></i>
						</i>
						<div class="content">
							Religion
						</div>
					</a>
					<a class="item" data-tab="forth">
						<i class="icons">
							<i class="blue heterosexual icon"></i>
							<i class="blue corner add icon"></i>
						</i>
						<div class="content">
							Gender
						</div>
					</a>
				</div>
				<div class="ui bottom attached tab segment active" data-tab="first">
					<div class="ui justified container">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla elementum mi non metus efficitur aliquam nec vitae sem. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam facilisis, lectus at vestibulum blandit, dolor justo faucibus purus, cursus luctus ante tortor luctus urna. Aliquam vel enim vel arcu euismod bibendum. Aenean gravida eu nulla convallis sollicitudin. Maecenas magna nunc, maximus a mauris vitae, imperdiet commodo ipsum. Duis pharetra lacus nulla, eget imperdiet lectus vestibulum gravida. Quisque nulla nunc, dapibus a volutpat et, varius id ex. Morbi odio ex, auctor et convallis quis, pharetra at elit. Phasellus varius posuere lacus vitae tempor. Vestibulum bibendum consequat massa dapibus pharetra. Mauris rutrum velit diam. Sed gravida lectus lacus, sed tempor felis ullamcorper et. Duis consequat odio ipsum. Integer tempor ullamcorper lectus a tincidunt.
						</p>
						<p>
							Phasellus tristique nibh eget nibh fermentum hendrerit. In viverra dui ante, id sagittis leo tristique nec. Mauris posuere dolor sit amet nulla rhoncus, at suscipit nunc accumsan. Donec et nisi efficitur, efficitur lorem et, aliquam ex. Donec mollis libero neque. Phasellus commodo tristique facilisis. Nullam nec quam arcu. Vivamus a nunc pellentesque, aliquet nulla et, cursus ligula. Suspendisse eu est vitae urna ultrices congue quis id velit. Maecenas in eros laoreet, pellentesque erat et, porttitor est. Duis convallis viverra urna, nec elementum sem lobortis viverra. Aliquam pulvinar, metus nec sollicitudin elementum, quam mauris pretium diam, in vulputate ipsum lacus vitae ex. Sed sit amet sodales orci, eget pretium arcu. Donec scelerisque in sem eu lacinia. Morbi non metus dolor. Suspendisse rhoncus pretium feugiat.
						</p>
					</div>
				</div>
				<div class="ui bottom attached tab segment" data-tab="second">
					<div class="ui two column centered grid">
						<div class="eight wide column">
							<form class="ui form" name="peopleForm" ng-controller="formController as formCtrl" ng-submit="formCtrl.addData('people')">
								<div>
									<div class="field">
										<label>Fullname</label>
										<div class="ui left icon input">
											<input type="text" placeholder="Fullname" ng-model="formCtrl.formData.fullname">
											<i class="user icon"></i>
										</div>
									</div>
									<div class="field">
										<label>Nickname</label>
										<div class="ui left icon input">
											<input type="text" placeholder="Nickname" ng-model="formCtrl.formData.nickname">
											<i class="user icon"></i>
										</div>
									</div>
									<div class="field">
										<label>Religion</label>
										<select name="religions" class="ui fluid normal dropdown" id="religions" ng-model="formCtrl.formData.id_religion">
											<option value="">Religion</option>
											<option ng-repeat="religion in religions" value='{{religion.id_religion}}'>{{religion.name}}</option>
										</select>
									</div>
									<div class="field">
										<label>Gender</label>
										<select name="genders" class="ui fluid normal dropdown" id="genders" ng-model="formCtrl.formData.id_gender">
											<option value="">Gender</option>
											<option ng-repeat="gender in genders" value='{{gender.id_gender}}'>{{gender.name}}</option>
										</select>
									</div>
									<button class="ui button" type="submit">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="ui bottom attached tab segment" data-tab="third">
					<div class="ui two column centered grid">
						<div class="eight wide column">
							<form class="ui form" name="religionForm" ng-controller="formController as formCtrl" ng-submit="formCtrl.addData('religions')">
								<div>
									<div class="field">
										<label>Religion Name</label>
										<div class="ui left icon input">
											<input type="text" placeholder="Religion Name" ng-model="formCtrl.formData.name">
											<i class="legal icon"></i>
										</div>
									</div>
									<button class="ui button" type="submit">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="ui bottom attached tab segment" data-tab="forth">
					<div class="ui two column centered grid">
						<div class="eight wide column">
							<form class="ui form" name="settingForm" ng-controller="formController as formCtrl" ng-submit="formCtrl.addData('genders')">
								<div>
									<div class="field">
										<label>Gender Name</label>
										<div class="ui left icon input">
											<input type="text" placeholder="Gender Name" ng-model="formCtrl.formData.name">
											<i class="heterosexual icon"></i>
										</div>
									</div>
									<button class="ui button" type="submit">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>

			</div>
			<div class="right floated column">
				<h2 class="ui header">
					<i class="blue users icon"></i>
					<div class="content">
						Friends
					</div>
				</h2>
				<div class="ui form">
					<div class="field">
						<label>Username</label>
						<div class="ui left icon input">
							<input type="text" placeholder="Username">
							<i class="user icon"></i>
						</div>
					</div>
					<div class="field">
						<label>Password</label>
						<div class="ui left icon input">
							<input type="password" placeholder="Password">
							<i class="lock icon"></i>
						</div>
					</div>
					<button class="ui blue submit button">Login</button>
				</div>
				<h2 class="ui header">
					<i class="blue book icon"></i>
					<div class="content">
						Data Summary
					</div>
				</h2>
				<div class="ui three statistics" ng-controller='summaryController'>
					<div class="statistic">
						<div class="value">
							<i class="blue user icon"></i> {{peopleCount || 0}}
						</div>
						<div class="label">
							People
						</div>
					</div>
					<div class="statistic">
						<div class="value">
							<i class="blue legal icon"></i> {{religionsCount || 0}}
						</div>
						<div class="label">
							Religion
						</div>
					</div>
					<div class="statistic">
						<div class="value">
							<i class="blue heterosexual icon"></i> {{gendersCount || 0}}
						</div>
						<div class="label">
							Gender
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript">
(function(){
	$('.menu .item').tab();
	$('#religions').dropdown();
	$('#genders').dropdown();
})();
</script>