<!DOCTYPE html>
<html ng-app="foolApp">
<head>
	<link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
	<script src="jquery/jquery-1.11.2.js"></script>
	<script src="semantic/semantic.min.js"></script>
	<script src="angular/angular.min.js"></script>
	<script src="app.js"></script>
	<script src="modules/form.js"></script>
	<script src="modules/employee.js"></script>
	<script src="modules/feeds.js"></script>
	<script src="modules/rating.js"></script>
</head>
<body>
	<div class="ui container" ng-controller="viewController as viewCtrl">
		<br>
		<div class="ui two column grid">
			<div class="two wide column">
				<div class="ui left fixed inverted vertical menu">
					<div class="item">
						<h2 class="ui inverted header">
							<i class="icons">
								<i class="inverted heartbeat icon"></i>
							</i>
							HRIS
						</h2>
					</div>
					<a class="item" ng-click='viewCtrl.selectMenu("home")' ng-class='{active:viewCtrl.isSelected("home")}'>Home</a>
					<a id="employee" ng-click='viewCtrl.selectMenu("employee")' class="item" ng-class='{active:viewCtrl.isSelected("employee")}'>Employee</a>
					<a id="signin" class="item">Sign-in</a>
				</div>
			</div>
			<div class="twelve wide column">
				<div ng-show='viewCtrl.isSelected("home")'>
					<h1>Home</h1>
					<div>
						<div class="ui segment column">
							<h4>News feed</h4>
							<feeds></feeds>
						</div>

					</div>
					<div class="ui horizontal divider header"><h3>Top Employee</h3></div>
					<rating-cards></rating-cards>
				</div>
				<div ng-show='viewCtrl.isSelected("employee")'>
					<h1>Employee</h1>
					<div class='ui grid'>
						<div class="four column row">
							<div class="left floated column">
								<search-input></search-input>
							</div>
							<div class="right floated column">
								<button id="addEmployee" class="ui right floated labeled icon primary button">
									<i class="add icon"></i>
									New
								</button>

							</div>
						</div>
					</div>
					<div class="ui horizontal divider clearing header">
						<h3>List Employee</h3>
					</div>
					<employee-lists></employee-lists>
				</div>
				<div ng-show='viewCtrl.isSelected("")'>3</div>
			</div>
		</div>
	</div>
	<div class="ui small modal employee">
		<div class="header">Employee</div>
		<div class="content">
			<form class="ui form" name="peopleForm" ng-controller="formController as formCtrl" ng-submit="formCtrl.addData('people')">
				<div class="field">
					<label>Fullname</label>
					<div class="ui left icon input">
						<input type="text" placeholder="Fullname" ng-model="formCtrl.formData.fullname">
						<i class="user icon"></i>
					</div>
				</div>
				<div class="field">
					<label>Nickname</label>
					<div class="ui left icon input">
						<input type="text" placeholder="Nickname" ng-model="formCtrl.formData.nickname">
						<i class="user icon"></i>
					</div>
				</div>
				<religions-input></religions-input>
				<genders-input></genders-input>
			
		</div>
		<div class="actions">
			<button class="ui approve button" type="submit">Submit</button>
			<div class="ui cancel button">Cancel</div>
		</div>
		</form>
	</div>
</body>
</html>
<script type="text/javascript">
(function(){
	$('.ui.modal.employee').modal({
		closable: false,
		onDeny: function(){
			console.log("Deny employee");
			return true;
		},
		onApprove: function(){
			console.log("Approve");
			return true;
		}
	}).modal('attach events', '#addEmployee', 'show');
})();
</script>