<div class="ui four cards" ng-controller="peopleController">
							<div class="ui blue card" ng-repeat="employee in people">
								<div class="image">
									<!-- Label untuk karyawan yang belum 3 hari -->
									<a ng-if="employee.days_work <= 3" class="ui teal ribbon label">
										New
									</a>
									<img src="images/logo.png">
								</div>
								<div class="content">
									<a class="header">{{employee.nickname}}</a>
									<div class="meta">
										<span class="date">Joined in {{employee.create_date | date:'yyyy'}}</span>
									</div>
									<div class="description">
										{{employee.fullname}}

									</div>
								</div>
								<div class="extra content">
									<a>
										<i class="heterosexual icon"></i>
										{{employee.genders}}
									</a>
								</div>
								<div class="extra content">
									<a>
										<i class="legal icon"></i>
										{{employee.religions}}
									</a>
								</div>
							</div>
						</div>