<div class="ui four cards">
	<div class="ui yellow card" ng-repeat='card in rating | limitTo : 4'>
		<div class="image">
			<a class="ui yellow ribbon label">
				<i class="star icon"></i>
				{{card.id_people}}0
			</a>
			<img src="images/logo.png">
		</div>
		<div class="content">

			<a class="header">{{card.nickname}}</a>
			<div class="meta">
				<span class="date">Joined in {{card.create_date | date:'yyyy'}}</span>
			</div>
			<div class="description">
				{{card.fullname}}
			</div>
		</div>
	</div>
</div>